.content {
  display: flex;
  height: 700px;

  .left {
    padding: @card-padding-base;
    width: 400px;
  }

  .middle {
    padding: @card-padding-base;
    max-width: 1200px;
    flex: auto;
  }

  .right {
    padding: @card-padding-base;
    width: 350px;
  }
}
